form {
  margin-top: 1rem;
  display: grid;
  gap: .75rem;
  max-width: 400px;
}

input, textarea {
  padding: .6rem;
  border-radius: var(--radius);
  border: none;
}

button {
  background: var(--primary);
  color: white;
  padding: .6rem;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}
